{# import 'admin/layout.html' as layout with context -#}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_meta -%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    {% endblock head_meta -%}
    <title>{% block title -%}{% endblock title %}</title>
    {% block head_css -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
    {% endblock head_css -%}
    {% block head -%}
    {% endblock head -%}
    {% block head_tail -%}
    {% endblock head_tail -%}
</head>
<body>
    {% block page_body -%}
    <div id="container">

        {% block messages -%}

        {% endblock messages -%}


        {% block body -%}{% endblock body -%}
    </div>
    {% endblock page_body -%}



    {% block tail -%}
    <div id="footer">
        {% block footer -%}
        </br>
        <center>
        Generated in {{ loading_time }} seconds</br></br>
        </center>
        {% endblock footer -%}
    </div>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    {% endblock tail -%}

</body>
</html>
