{% extends 'base.html' %}

{% block meta_description %}
{% endblock %}
{% block title %}Intelion Monitor{% endblock %}

{% block body %}
<h2>Intelion Monitor {{ version }}</h2>

<fieldset style="width: 300px;">
<b id="countdown"></b>
</fieldset>

    <div class="container">
    <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Добавлялка
    </button>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <form action="{{ url_for('add_miner') }}" method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить майнер</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div class="addminer_container">
                  <div>
                      <label for="ip">IP Address: </label>
                  </div>
                  <div>
                      <input required type="text" name="ip">
                  </div>
                  <div>
                      <label for="model_id">Model: </label>
                  </div>
                  <div>
                      <select required name="model_id">
                          <option disabled selected value> -- select an option --</option>
                          {%- for model in models|sort(attribute="model") %}
                              <option value="{{ model.id }}">{{ model.model }} - {{ model.description }}</option>
                          {%- endfor %}
                      </select>
                  </div>
                  <div>
                      <label for="container_id">Контейнер: </label>
                  </div>
                  <div>
                      <select required name="container_id">
                          <option disabled selected value> -- select --</option>
                          {%- for container in containers|sort(attribute="description") %}
                              <option value="{{ container.id }}">{{ container.description }}</option>
                          {%- endfor %}
                      </select>
                  </div>
                  <div>
                      <label for="remarks">Remarks: </label>
                  </div>
                  <div>
                      <input type="text" name="remarks">
                  </div>
              </div>
      </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Добавить</input>
      </div>
          </form>
    </div>
  </div>
</div>

    </div>
    <div></div>
    <div>
        <fieldset name="total_hashrate" style="height:130px">
            <legend>Total hashrate per model (5s)</legend>
            <ul>
                {%- for model in total_hash_rate_per_model|sort %}
                    <li><u>{{ model }}:</u> <strong>{{ total_hash_rate_per_model[model] }}</strong>
                    </li>
                {%- endfor %}
            </ul>
        </fieldset>
    </div>
</div>
<br>
  <ul class="nav nav-tabs">
        {%- for container in containers|sort(attribute='description') %}
            <li class="nav-item">
                <a class="nav-link{%- if container_id == container.id %} active{%- endif %}" href="{{ url_for('miners') }}?c={{ container.id }}">{{ container.description }}</a>
            </li>
        {%- endfor %}
</ul>
{%- if inactive_miners %}
    <fieldset name="inactive_miner_list">
        <legend>In-active Miners ({{ inactive_miners|length }})</legend>
        <table style="width:100%">
            <tr>
                <th>IP Address</th>
                <th>Model</th>
                <th>Remarks</th>
                <th>Status</th>
                <th>Remove</th>
            </tr>
            {%- for inactive_miner in inactive_miners|sort(attribute='ip') %}
                <tr>
                    <td><a target="_blank" href="http://{{ inactive_miner.ip }}">{{ inactive_miner.ip }}</a></td>
                    <td>{{ inactive_miner.model.model }}</td>
                    <td>{{ inactive_miner.remarks }}</td>
                    <td>Error: Check connection or IP Address</td>
                    <td><a href={{ url_for('delete_miner', id=inactive_miner.id) }}><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {%- endfor %}
        </table>
    </fieldset>
{%- endif %}
<br>

<fieldset name="active_miner_list">
    <legend>Active Miners ({{ active_miners|length }})</legend>
    <table style="width:100%">
        <tr>
            <th>IP Address</th>
            <th>Worker</th>
            <th>Model</th>
            <th>Remarks</th>
            <th title="'O' means OK">Chips (Os)</th>
            <th title="'X' means defective">Chips (Xs)</th>
            <th title="'-' means instability of the power supply voltage or the defective hash board">Chips (-)</th>
            <th>Chip Temp(C)</th>
            <th>Fan speeds (rpm)</th>
            <th>Hashrate (5s)</th>
            <th>HW Error Rate %</th>
            <th>Uptime</th>
            <th>Status</th>
            <!--<th>JSON Info</th>-->
            <th>Remove</th>
        </tr>
        {%- for active_miner in active_miners|sort(attribute='ip') %}
            <tr{%- if active_miner.ip in miner_errors %} class="error"{%- endif %}>
                <td><a target="_blank" href="http://{{ active_miner.ip }}">{{ active_miner.ip }}</a></td>
                <td>{{ workers[active_miner.ip] }}</td>
                <td title="{{ active_miner.model.description }}">{{ active_miner.model.model }}</td>
                <td>{{ active_miner.remarks }}</td>
                <td>{{ miner_chips[active_miner.ip]['status']['Os'] }}</td>
                <td>{{ miner_chips[active_miner.ip]['status']['Xs'] }}</td>
                <td>{{ miner_chips[active_miner.ip]['status']['-'] }}</td>
                <td>{{ temperatures[active_miner.ip] }}</td>
                <td>{{ fans[active_miner.ip].speeds }}</td>
                <td>{{ hash_rates[active_miner.ip] }}</td>
                <td>{{ hw_error_rates[active_miner.ip] }}</td>
                <td>{{ uptimes[active_miner.ip] }}</td>
                <td title="{%- if active_miner.ip in miner_errors %}{{ miner_errors[active_miner.ip] }}{%- endif %}">
                    {%- if active_miner.ip in miner_errors %}Check your miner{%- else %}OK{%- endif %}
                <!--<td><a target="_blank" href="/{{ active_miner.ip }}/summary">Summary</a> |
                    <a target="_blank" href="/{{ active_miner.ip }}/pools">Pools</a> |
                    <a target="_blank" href="/{{ active_miner.ip }}/stats">Stats</a></td>-->
                |
                <a href={{ url_for('reset_miner', id=active_miner.id) }}><i class="fab fa-bitcoin"></i></a> |
                <a href={{ url_for('refresh_miner', id=active_miner.id) }}><i class="fas fa-undo-alt"></i></a></td>
                <td><a href={{ url_for('delete_miner', id=active_miner.id) }}><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        {%- endfor %}
    </table>
</fieldset><br />

    {%- with messages = get_flashed_messages(with_categories=true) %}
    {%- if messages %}
        {%- for category, message in messages %}
            <div class="{{ category }}">
                <strong>{{ message }}</strong>
            </div>
        {%- endfor %}
    {%- endif %}
    {%- endwith %}

              <form action="{{ url_for('add_miner') }}" method="POST">
              <div class="addminer_container">
                  <div>
                      <label for="ip">IP Address: </label>
                  </div>
                  <div>
                      <input required type="text" name="ip">
                  </div>
                  <div>
                      <label for="model_id">Model: </label>
                  </div>
                  <div>
                      <select required name="model_id">
                          <option disabled selected value> -- select an option --</option>
                          {%- for model in models|sort(attribute="model") %}
                              <option value="{{ model.id }}">{{ model.model }} - {{ model.description }}</option>
                          {%- endfor %}
                      </select>
                  </div>
                  <div>
                      <label for="container_id">Контейнер: </label>
                  </div>
                  <div>
                      <select required name="container_id">
                          <option disabled selected value> -- select --</option>
                          {%- for container in containers|sort(attribute="description") %}
                              <option value="{{ container.id }}">{{ container.description }}</option>
                          {%- endfor %}
                      </select>
                  </div>
                  <div>
                      <label for="remarks">Remarks: </label>
                  </div>
                  <div>
                      <input type="text" name="remarks">
                  </div>
              </div>
        <button type="submit" class="btn btn-primary">Добавить</input>
          </form>

{% endblock %}
